/DiveInoClassic/DiveIno/.ino.cpp
/DiveInoClassic/DiveIno/sloeber.ino.cpp
/DiveInoClassic/DiveIno/spec.d
/DiveInoClassic/DiveIno/.settings
/DiveInoClassic/DiveIno/Release
/DiveInoClassic/DiveIno/Libraries
/DiveInoClassic/DiveIno/libraries
/DiveInoClassic/DiveIno/arduino
/DiveInoClassic/DiveIno/core
/DiveInoClassic/DiveIno/.cproject
/DiveInoClassic/DiveIno/.project
/DiveIno/.pio
/DiveIno/.vscode/.browse.c_cpp.db*
/DiveIno/.vscode/c_cpp_properties.json
/DiveIno/.vscode/launch.json
/DiveIno/.vscode/ipch